$primary: #6549ff;
$secondary: #64379f;
$light: #9662bc;
$navbar-dark-hover-color: #20c1d6;
$sfumatura: linear-gradient( #6b88cc, #9662bc);
$sfumatura2: linear-gradient( #9662bc, #6b88cc);
$link-color: white;
$link-hover-color: #20c1d6;
$personalGradient: linear-gradient(184deg, rgba(150,98,188,1) 15%, rgba(107,136,204,1) 59%);
$white-semitrasparent: rgba(255, 255, 255, 0.3);